body {
    background-color: #DDDDDD;
    margin: 0;
    color: #656565;
}

/* Foundation Overrides */

.icon-bar {
  background: #85C13E;
  border-bottom: 5px #6F9F34 solid;
}

.icon-bar > * {
    padding: 0.25em;
}

.icon-bar > .item:hover {
    background: #6F9F34;
}


/* Custom Styles */

h1 {
  font-size: 18px;
  font-weight: 700;
  color: #616161;
}

.app-body {
  border-bottom: 5px #DDDDDD solid;
}

.page-container {
  background-color: #DDDDDD;
  padding: 10px 0px;
  height: calc(100vh - 66px);
  width: 100vw;
}
