html {
  font-size: 14px;
}

body {
    background-color: #DDDDDD;
    margin: 0;
    color: #656565;
}

/* Foundation Overrides */

.icon-bar {
  background: #85C13E;
  border-bottom: 5px #6F9F34 solid;
}

.icon-bar > * {
    padding: 0.25em;
}

.icon-bar > .item:hover {
    background: #85C13E;
}

.icon-bar > .item.active {
    background: #6F9F34;
}

.button, .button:hover {
  background-color: #85C13E;
  margin: 0;
}

.button.secondary, .button.secondary:hover {
  background-color: #E8AE00;
  color: #fff;
  margin: 0;
}

/* Custom Styles */

h1 {
  font-size: 18px;
  font-weight: 600;
  color: #616161;
}

.app-body {
  border-bottom: 5px #DDDDDD solid;
}

.page-container {
  background-color: #DDDDDD;
  height: calc(100vh - 67px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
}

.e-nav {
  text-align: center;
}

.block-col {
  padding: 0;
}

.block-button {
  height: 150px;
  width: 50vw;
  margin: 0;
}

.block-col:not(:first-child) button {
  border-left: 1px solid #6F9F34;
}

.button-symbol {
  font-size: 130px;
  margin: 0;
  line-height: 100px;
}

.button-col {
  padding: 0;
}

.button-col button {
  width: 100%;
  padding: 0.875rem 1rem 0.9375rem 1rem !important;
}

.highlight {
  background-color: #DDDDDD;
}

.roomy {
  margin-bottom: 5px;
}

.list {
  list-style: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #DDDDDD;
  background: white;
  margin: 10px;
}

.list li {
  padding: 10px;
  border: 1px solid #DDDDDD;
}
