.pic-col {
  background-color: #EEEEEE;
  padding: 5px;
}

.profile-pic {
  border-radius: 50%;
  border: 2px solid #7A7A7A;
}

.info {
  font-size: 10px;
}

.mod-button {
  margin: 0;
}

.vert-text {
  position: relative;
  top: 8px;
}
